
.app-background {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgb(166, 192, 230) 0%, rgb(203, 209, 233) 100%);
    min-height: 100vh;
}

.no-overflow {
    overflow: hidden;
    background: linear-gradient(0deg, rgba(157, 239, 156, 1) 0%, rgba(34, 193, 195, 1) 100%);
    min-height: 5vh
}

.svg-component-shadow {
    filter: drop-shadow(3px 3px 15px rgba(58, 58, 55, 0.699));

}

.car-body-fill {
    fill: #ffd42a;
}

.car-wheel-fill {

    filter: drop-shadow(0px 0px 4px rgb(67, 3, 83));
    animation: wheel-rotate 200ms linear infinite
}

.car-window-fill {
    fill: #bbb9b4;
}

.move-animation,
.move-animation2 {
    stroke-dasharray: 10.66;
    stroke-dashoffset: 32.66;
    animation: dash-move 0.2s linear reverse infinite;
    stroke: rgb(0, 0, 0);

}

.move-animation2 {

    animation-delay: 200ms;
    animation: dash-no-move 1.5s linear infinite;
}

@keyframes dash-no-move {
    0% {

        stroke-dasharray: 0;
        stroke-dashoffset: 0;


    }


    100% {

        stroke-dasharray: 0;
        stroke-dashoffset: 0;

    }


}

@keyframes wheel-rotate {
    0% {
        transform: scale(1.008, 1.01);


    }

    25% {
        transform: scale(1.008, 0.99);
    }

    50% {
        transform: scale(0.99, 0.99);
    }

    75% {
        transform: scale(0.99, 1.008);
    }

    100% {
        transform: scale(1.008, 1.008);


    }


}

@keyframes dash-move {
    0% {

        stroke-dasharray: 142.66;
        stroke-dashoffset: 422.66;


    }


    100% {

        stroke-dasharray: 142.66;
        stroke-dashoffset: 140;

    }


}

::-webkit-scrollbar {
    direction: rtl;
    width: 5px;
    height: 10px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #bcc8f5;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #677498;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #334c94;
}
