
.app-background {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgb(166, 192, 230) 0%, rgb(203, 209, 233) 100%);
  min-height: 100vh ;
}

.no-overflow{
  overflow: hidden;
  background: linear-gradient(0deg, rgba(157,239,156,1 ) 0%, rgba(34,193,195,1) 100%);
  min-height: 5vh
}
